.chapter(data-title='IVR Phone Tree')
  .step(data-file='IVRRecording.Web/packages.config')
    :markdown
      ## About this application

      ![Extra Terrestrial Phone Home
      Service](//howtodocs.s3.amazonaws.com/logo-et-phone2.png)

      This [ASP.NET MVC](//www.asp.net/mvc) sample application is
      modeled after a typical call center experience, but with more [Reese's
      Pieces](https://en.wikipedia.org/wiki/Reese%27s_Pieces#ET:_The_Extra-
      Terrestrial).

      Stranded aliens can call a phone number and receive instructions on how
      to get out of earth safely, or call their home planet
      directly[.](//bit.ly/asogi) In this tutorial, we'll show you the
      key bits of code that allow an agent to send a caller to voicemail, and
      later read transcripts and listen to voicemails.

      To run this sample app yourself, [download the code and follow the
      instructions on GitHub](//github.com/TwilioDevEd/ivr-recording-csharp).

      Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

      ---

      **See Also:**
      * [Getting Started with ASP.NET MVC
      5](http://www.asp.net/mvc/overview/getting-started/introduction/getting-started)
      * [The Twilio C# Helper
      Library](https://www.twilio.com/docs/csharp/install)
